@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #000;
    color: white;
    font-family: "NeoDunggeunmo", serif;
}

@layer components {
}
